body{
    margin: 0;
    font-family: Lato, sans-serif;
    
}
header h1{
background:url(header.jpg);
background-size: cover;
color: white;
text-align: center;
margin: 0;
padding: 80px;
}
header{
    background-size: cover;
    color: white;
 }

.content{
    width:40%;
    float: left;
 }
 .content aside{
     padding-left: 80px;
     width: 100%;
 }
 aside h1{
     padding: 15px 0 30px 0;
 }
 aside{
    margin-left: 63%;
 }
aside img{
    width: 88%;
    }
    aside p{
        padding-bottom: 30px;
    }
.content article button{
    padding: 12px;
    color: red;
    border: 1px solid red;
    background: white;
    border-radius: 45%;
    padding: 13px;
    width: 135px;
    cursor: pointer;
}
.content article{
 padding-left: 80px;
}
.content article button:hover{
color: white;
background:red
